#counters {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#increase-counter {
    margin: 10px;
}
#main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#form{
    display: flex;
    gap: 1rem;

}